#page {
	position: relative;
	width: 960px;
	text-align: center;
	font-family: sans-serif;
	margin: 0px auto;
}

#logo {
	
}

#title {

}

#debug {
        position: relative;
        width: 800px;
        text-align: left;
        background-color: rgb(255,200,200);
        padding:10px;
        border: 1px solid rgb(255,100,100);
        margin: 10px;
}

#new_order_form {
	position: relative;
	width: 900px;
	text-align: left;
	background-color: rgb(200,200,255);
	padding:10px;
	border: 1px solid rgb(100,100,255);
	margin: 0px auto;
}

#available_talks {
	position: relative;
        width: 900px;
        text-align: left;
        background-color: rgb(200,200,255);
        padding:10px;
        border: 1px solid rgb(100,100,255);
	margin: 0px auto;
}

#saved_orders {
        position: relative;
        width: 860px;
        text-align: left;
        background-color: rgb(200,200,255);
        padding:10px;
        border: 1px solid rgb(100,100,255);
	margin: 0px auto; 
}

#completed_orders {
        position: relative;
        width: 860px;
        text-align: left;
        background-color: rgb(200,200,255);
        padding:10px;
        border: 1px solid rgb(100,100,255);
        margin: 0px auto;
}

#status_message {
        position: relative;
        width: 800px;
        text-align: left;
        background-color: rgb(200,255,200);
        padding:10px;
        border: 1px solid rgb(100,255,100);
        margin: 10px;
}

#upload_form {
        position: relative;
        width: 800px;
        text-align: left;
        background-color: rgb(200,200,255);
        padding:10px;
        border: 1px solid rgb(100,100,255);
        margin: 10px;
}


#error_message {
        position: relative;
        width: 800px;
        text-align: left;
        background-color: rgb(255,200,200);
        padding:10px;
        border: 1px solid rgb(255,100,100);
        margin: 10px;
}


.red_box {
        position: relative;
        width: 800px;
        text-align: left;
        background-color: rgb(255,200,200);
        padding:10px;
        border: 1px solid rgb(255,100,100);
        margin: 10px;
}

.blue_box {
        position: relative;
        width: 800px;
        text-align: left;
        background-color: rgb(200,200,255);
        padding:10px;
        border: 1px solid rgb(100,100,255);
        margin: 10px;
}

.blue_box_right {
        float:right;
        width: 340px;
	right: -400px;
        text-align: left;
        background-color: rgb(200,200,255);
        padding:10px;
        border: 1px solid rgb(100,100,255);
        margin: 10px;
}

.blue_box_left {
        float: left;
        width: 340px;
	right: 0px;
        text-align: left;
        background-color: rgb(200,200,255);
        padding:10px;
        border: 1px solid rgb(100,100,255);
        margin: 10px;
}

.green_box {
        position: relative;
        width: 800px;
        text-align: left;
        background-color: rgb(100,255,100);
        padding:10px;
        border: 1px solid rgb(100,255,100);
        margin: 10px;
}

